*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}
h1,h2,h3 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}
html,
body {
    max-width: 1440px; 
    height: 100%;
    line-height: 1;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}
a {
    text-decoration: none;
}
.ibg{
    position: relative;
}
.ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.wrapper {
    min-height: 100%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    min-height: 90px;
    align-items: center;
    /* position: inherit; */
}
.header {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    min-height: 90px;
    left: 0;
    top: 0;
    z-index: 50;
    background: rgba(242, 120, 92, 0.7);
box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
color: #ffffff;

}

.logo-port {
    font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: calc(39/32*100%);
margin: 0 158px 0 0;
padding: 0 0 0 35px;
}
@media (max-width:1200px){
    .logo-port{
        margin: 0 120px 0 0;
    }
}
@media (max-width:800px){
    .logo-port{
        margin: 0 80px 0 0;
        padding: 0 0 0 25px;
    }
}
@media (max-width:680px){
    .logo-port{
        margin: 0 40px 0 0;
        padding: 0 0 0 15px;
    }
}
.logo-port img{
    margin: 0 6px 0 0;
}
.menu {
    display: flex;
}
.menu a{
    color: #ffffff;
    
}

.menu-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0 196px 0 0;
    padding: 0;
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(21/15*100%);
}
@media (max-width:1200px){
    .menu-list{
        margin: 0 100px 0 0;
    }
}
@media (max-width:800px){
    .menu-list{
        margin: 0 80px 0 0;
    }
}
@media (max-width:680px){
    .menu-list{
        margin: 0 40px 0 0;
    }
}
.menu-item:not(:last-child){
    margin: 0 42px 0 0;
}
.header-button {
    height: 41px;
    width: 103px;
    max-height: 41px;
    border: 0;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #0D606F;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
}
/* ---main--------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}
/*  section preview-------------------------------------------------------- */
.preview {
    position: relative;
    height: 765px;
    max-width: 1440px;
    background-image: url(./img/garrett-parker-preview.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 0 80px 0;
}

.main-block-body {
  max-width: 892px;
  width: 100%;
  max-height: 422px;
  margin: 122px 0 0 0;
}
.preview-content {
    
}
h1 {
    font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: calc(96/80*100%);

color: #FFFFFF;
margin: 0 0 44px 0;
}
.preview-text {
    font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: calc(24/20*100%);
color: #FFFFFF;
margin: 0 0 46px 0;
}
.preview-find {
    width: 100%;
    height: 95px;
    font-family: 'Aleo';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: calc(29/24*100%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
color: #F2785C;
background: rgba(255, 255, 255, 0.7);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
display: flex;
justify-content: space-between;
align-items: center;
}
.preview-find-text {
    padding: 0 0 0 41px;
    
}
.preview-button {
    max-width: 228px;
    width: 100%;
    max-height: 59px;
    height: 100%;
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: calc(32/24*100%);
color: #FFFFFF;
background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
margin: 0 18px 0 0;
}
.header-burger{
    display: none;
}

@media (max-width:390px){
    .header-burger{
display: block;
position: relative;
width: 25px;
height: 25px;
    }
    .header-burger span{
position: absolute;
background-color: #fff;
position: absolute;
left: 0;
width: 100%;
height: 2px;
top: 9px;
    }
    .header-burger:before,
    .header-burger:after{
content: " ";
background-color: #fff;
position: absolute;
width: 100%;
height: 2px;
left: 0;
    }
   .header-burger:before{
    top: 0;
   }
   .header-burger::after{
    bottom: 0;
   }
    
    .container {
    }
    .logo-port {
    }
    .menu {
    }
    .menu-list {
    }
    .menu-item {
    }
    .menu-link {
    }
    .header-button {
    }
    .page {
    }
    .preview {
    }
    .main-block-body {
    }
    .preview-content {
    }
    .preview-text {
    }
    .preview-find {
    }
    .preview-find-text {
    }
    .preview-button {
    }
}
/* --section step-------------------------------------------------------------------------- */

.steps {
  
}
.steps-container{
    max-width: 1200px;
    width: 100%;
  display: flex;
 flex-direction: column;
 justify-content: center;
}
.steps-text {
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: calc(53/40*100%);
color: #F2785C;
display: flex;
justify-content: center;
margin: 0 0 40px 0;
}
.step-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps-card{
    width: 100px;
height: 100px;
left: calc(50% - 100px/2);
top: calc(50% - 100px/2);
background: #F2785C;
border-radius: 16px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 0 30px 0;
}
.steps-list {
    display: flex;
    justify-content: space-between;
}
.steps-list p{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24/20*100%);
    color: #0D606F;
}
.step-velo {
}
.logo-velo {
}
.step-calendar {
}
.logo-calendar {
}
.step-avia {
}
.logo-avia {
}




